<% 
if !can_sign_up?
  flash[:alert] = "Sign up is not permitted."
else %>
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <% if current_account %>
      <%= f.hidden_field :account_name, value: current_account.name %>
      <%= f.hidden_field :account_id, value: current_account.id %>
    <% else %>
      <div><%= f.label :account %><br />
      <%= f.text_field :account_name %></div>
    <% end %>

    <div><%= f.label :name %><br />
    <%= f.text_field :name %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>
