<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-3">
      <fieldset>
        <legend><%= f.label :title %></legend>
        <%= f.text_field :title, class: "input-xlarge" %>
        <label class="checkbox">
          <%= f.check_box :sidebar %>
          <%= f.label :sidebar %>
        </label>
        <div class="btn-group">
          <%= f.submit class: "btn btn-success btn-small" %>
          <% if buttons.include?(:show) %>
            <%= link_to 'Show', @page, class: "btn btn-primary btn-small" %>
          <% end %>
          <% if buttons.include?(:back) %>
            <%= link_to 'Back', pages_path, class: "btn btn-warning btn-small" %>
          <% end %>
        </div>
      </fieldset>
    </div>
    <div class="col-9">
      <h4><%= f.label :content %></h4>
      <%= f.text_area :content, class: "redactor" %>
    </div>
  </div>
<% end %>
 
