<h1>Listing Pages</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th width="35">Sidebar</th>
    <th width="100">Actions</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= raw('<i class="glyphicon glyphicon-ok"></i>') if page.sidebar %></td>
    <td>
      <div class="btn-group btn-group-justified">
        <%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i>'), page, class: "btn btn-default btn-xs" %>
        <%= link_to raw('<i class="glyphicon glyphicon-edit"></i>'), edit_page_path(page), class: "btn btn-default btn-xs" %>
        <%= link_to raw('<i class="glyphicon glyphicon-remove"></i>'), page, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Page', new_page_path, class: "btn btn-success" %>
