<h1>Listing Pages</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Sidebar</th>
    <th width="45">Actions</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.sidebar %></td>
    <td>
      <div class="btn-group">
        <%= link_to raw('<i class="icon-eye-open"></i>'), page, class: "btn btn-mini" %>
        <%= link_to raw('<i class="icon-edit"></i>'), edit_page_path(page), class: "btn btn-mini" %>
        <%= link_to raw('<i class="icon-remove"></i>'), page, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini" %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Page', new_page_path, class: "btn btn-success" %>
