  <% if @course_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_session.errors.count, "error") %> prohibited this course_session from being saved:</h2>

      <ul>
      <% @course_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label><%= f.label :name %></label>
        <%= f.text_field :name, class: "form-control input-large", placeholder: "Session name..." %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label><%= f.label :status %></label>
        <%= f.select :status, CourseSession::STATUSES.map{|h| [ h[1], h[0] ]}, {}, class: "form-control" %> 
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label><%= f.label :total_capacity %></label>
        <%= f.text_field :total_capacity, class: "form-control" %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label><%= f.label :waitlist_capacity %></label>
        <%= f.text_field :waitlist_capacity, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-4 col-lg-offset-4">
      <div class="btn-group">
        <%= f.submit class: "btn btn-success btn-sm" %>
        <% if buttons.include?(:show) %>
          <%= link_to 'Show', @course_session, class: "btn btn-primary btn-sm" %>
        <% end %>
        <% if buttons.include?(:back) %>
          <%= link_to 'Back', course_course_sessions_path(@course), class: "btn btn-warning btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
