<%= form_for(@course, html: {role: 'form'}) do |f| %>
    <% if @course.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

            <ul>
                <% @course.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control", placeholder: "e.g. 'Butterflies' or 'M-F Mornings'" %>
            </div>

            <div class="form-group">
                <%= f.label :age_group %>
                <%= f.text_field :age_group, class: "form-control", placeholder: "Ages 3-5" %>
            </div>

            <div class="form-group">
                <%= f.label :days_description %>
                <%= f.text_field :days_description, class: "form-control", placeholder: "Monday through Friday" %>
            </div>


            <div class="form-group">
                <%= f.label :class_time_description %>
                <%= f.text_field :class_time_description, class: "form-control", placeholder: "9am to 11am" %>
            </div>

            <div class="form-group">
                <%= f.label :tuition_description %>
                <%= f.text_field :tuition_description, class: "form-control", placeholder: "$130/month" %>
            </div>

            <div class="btn-group">
                <%= f.submit class: "btn btn-success btn-small" %>
                <% if buttons.include?(:show) %>
                    <%= link_to 'Show', @course, class: "btn btn-primary btn-small" %>
                <% end %>
                <% if buttons.include?(:back) %>
                    <%= link_to 'Back', courses_path, class: "btn btn-warning btn-small" %>
                <% end %>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="form-group">
                <%= f.label :long_description %>
                <%= f.text_area :long_description, class: "redactor" %>
            </div>
        </div>
    </div>
<% end %>
